.content_container {
  position: absolute;
  left: 351px;
  padding: 10px;
  width: calc(100% - 371px);
  height: calc(100% - 40px);
  overflow-y: auto;
}

.content_null_page_title {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #0091EA;
}

.content_title {
  display: flex;
  justify-content: space-between;
}

.RichEditor-root {
  background: #343d46;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.RichEditor-styleButton:hover {
  color: #039BE5;
}

.rich_text_save_btn {
  margin-top: 10px;
  border-top: 1px solid #4a5158;
  display: flex;
  justify-content: flex-end;
}
