.container {
  min-width: 1024px;
  min-height: 600px;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 0px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset rgba(0,0,0,0.1);
    border-radius: 3px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.add_a_File_container {
  display: flex;
  justify-content: space-between;
}

.delete_a_file_title {
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.delete_a_file_top_bar {
  justify-content: space-between;
}

.delete_a_file_file_title {
  margin-left: 10px;
  color: red;
}
